_ReSharper.NoRMatic
*user
*suo
NoRMatic/bin
NoRMatic/obj
NoRMatic/*user
NoRMatic.Tests/bin
NoRMatic.Tests/obj
NoRMatic.Tests/*user
WebSample/bin
WebSample/obj
WebSample/*user
TestModel/bin
TestModel/obj
TestModel/*user