<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="NoRMaticConnectionString" connectionString="mongodb://localhost/NoRMaticTests?strict=true" />
        <add name="NoRMaticConnectionString2" connectionString="mongodb://localhost/NoRMaticTests2?strict=true" />
    </connectionStrings>
</configuration>